/.metadata/

# Build outputs
**/target/
**/build/

# Logs
**/*.log
**/*.log.*

# Local config files
**/*-local.yml
**/*-local.yaml
**/application-local.yml
**/application-local.yaml

# IDE
**/.idea
**/.vscode
**/*.iml
**/.project
**/.classpath
**/.settings/

# OS
**/.DS_Store
**/Thumbs.db

# Temp
**/*.tmp
**/*.swp

# Claude
**/.claude/

# Launch files
**/**/~launch.ps1

# Frontend
frontend/logs
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
!frontend/.vscode/extensions.json
