# Maven / Gradle build outputs
target/
build/

# IDE settings
*.iml
.idea/
.vscode/
.project
.classpath
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Spring Boot specific
# Exclude local configuration files
**/resources/application-local.yml

# Metadata
.metadata/

**/application-local.yaml
hello-service/
